*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
}

/* GENERAL STYLE */
.dashed{
    border: 2px dashed black;
}

.dashed-white{
    border: 2px dashed white;
}

.general-flex{
    display: flex;
    align-items: center;
}

.bg-lightgrey{
    background-color: lightgrey;
}

.bg-blue{
    background-color: #1e90ff;
}

.bg-pink{
    background-color: #ffc0cb;
}

.bg-green{
    background-color: #228b22;
}

.bg-darkpink{
    background-color: #f08080;
}

.bg-darkverdeacqua{
    background-color: #20b2aa;

}

.bg-verdeacqua{
    background-color: #7fffd4;
}

.bg-businessblack{
    background-color: #23272a;
}

section{
    padding: 50px 0;
}

/* HEADER STYLE */
.general-cpontainer1{
    background-color: #add8e6;
    /* DEBUG */
    min-height: 500px;
    padding: 10px 0 5px 0;
}

.general-margin{
    margin: 0 auto;
    width: 60%;
}

header{
    display: flex;
    background-color: #daa520;
    margin-bottom: 10px;
    /* DEBUG */
    min-height: 40px;
}

.logo{
    flex-basis: 20%;
    padding-left: 1%;
    display: flex;
}

.navigation-bar{
    flex-basis: 60%;
    justify-content: center;
}

.login{
    flex-basis: 20%;
    padding-right: 1%;
    justify-content: end;
}

.header-container-section{
    background-color: #00008b;
    justify-content: center;
    padding: 50px 0;
    /* DEBUG */
    /* min-height: 500px; */
}

.header-section1{
    background-color: #ee82ee;
    flex-basis: 50%;
    /* DEBUG */
    min-height: 400px;
}

/* MAIN STYLE */
/* Section 1 */

.content-section-main{
    flex-basis: 60%;
    /* DEBUG */
    min-height: 500px;
}

.img-section-main{
    flex-basis: 40%;
    /* DEBUG */
    min-height: 500px;
}
/* Section 2 */

/* Section 3 */

/* Section 4 */
.big-section-main{
    flex-basis: 100%;
    /* DEBUG */
    min-height: 800px;
}

/* Section 5 ASIDE FOOTER */
#aside-section{
    padding: 15px 0 40px;
}

.social{
    flex-basis: 40%;
    /* DEBUG */
    min-height: 550px;
}

/* ASIDE LIST-1 */
.list{
    flex-basis: 15%;
    /* DEBUG */
    min-height: 550px;
}
/* ASIDE LIST-2 */

/* ASIDE LIST-3 */

/* ASIDE LIST-4 */

/* FOOTER */
footer{
    border-top: solid 2px white;
    padding-top: 30px;
}

#footer-section{
    justify-content: space-between;
    padding: 0;
/* DEBUG */
min-height: 70px;
}

#footer-section div{
    padding: 3px;
}